<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <style type=”text/css”></style>
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
</head>


<body>
  {% load static %}
    {% load bootstrap4 %}

   <nav class="nav-extended"  >
    <div class="nav-wrapper blue darken-3 " >
      <a href="#" class="brand-logo">SmartParts AG </a>

    </div>

  </nav>




{% block content %}
<h1>{{ titel }}</h1>
<p class="lead">
  Herzlich willkommen auf der Seite f&uuml;r unsere Blabla! Hier k&ouml;nnt Ihr euch einfach anmelden!
  Bitte schlie&szlig;t diese Seite nicht!
</p>
<hr />





 <div class="row">
    <div class="col s12 m10">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Anmeldung</span>
          <p>Bitte melden Sie sich hier an</p>

        </div>
        <div class="card-action">
          <a href="{% url 'opc:register' %}" class="btn btn-danger" >Registrieren</a>
          <a href="{% url 'opc:login' %}" class="btn btn-danger">Login</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m10">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Produktion</span>
          <p> Hier gehts zur Produktion und Auftragsübersicht</p>

        </div>
        <div class="card-action">
          <a href="{% url 'opc:produktion' %}" class="btn btn-danger" > Weiter</a>

        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m10">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"> Maschinen </span>
          <p> Hier gehts zu den verfügbaren Maschinen</p>

        </div>
        <div class="card-action">
          <a href="{% url 'opc:maschinen' %}" class="btn btn-danger" >Weiter</a>

        </div>
      </div>
    </div>
  </div>


{% endblock %}

</body>



<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>
</html>