<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DienstOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">dieOpcUaID</th>
      <th scope="col">name</th>
      <th scope="col">regServer</th>
      <th scope="col">serviceBeschreibung</th>

    </tr>
  </thead>
  <tbody>
    {% for dienstOpcUaServer in object_list %}
   <tr>

            <td>{{ dienstOpcUaServer.dieOpcUaID}}</td>
            <td>{{ dienstOpcUaServer.name}}</td>
            <td>{{ dienstOpcUaServer.regServer.servername}}</td>
            <td>{{ dienstOpcUaServer.serviceBeschreibung}}</td>


    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>