<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dienstleistungen</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">servicenummer</th>

      <th scope="col">serviceName</th>
      <th scope="col">serviceBeschreibung</th>

    </tr>
  </thead>
  <tbody>
    {% for dienstleistungen in object_list %}
     <tr>

            <td>{{ dienstleistungen.servicenummer}}</td>

            <td>{{ dienstleistungen.serviceName}}</td>
            <td>{{ dienstleistungen.serviceBeschreibung}}</td>

        </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>