<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dienstleistungen</title>
</head>
<body>
{% extends 'main/includes/header2.html' %}
{% block content %}
<div class="card shadow mb-4">
      <div class="card-header py-3">

      </div>
      <div class="card-body">
          <div class="table-responsive">



                <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">Servicenummer</th>
                        <th scope="col">ServiceName</th>
                        <th scope="col">ServiceBeschreibung</th>
                        <th scope="col">Zeitdauer</th>



                    </tr>
                  </thead>
                  <tbody>
                    {% for dienstleistungen in object_list %}
                     <tr>

                            <td>{{ dienstleistungen.servicenummer}}</td>

                            <td>{{ dienstleistungen.serviceName}}</td>
                            <td>{{ dienstleistungen.serviceBeschreibung}}</td>
                            <td>{{ dienstleistungen.running_simulation}}</td>

                        </tr>

                    {% endfor %}

                  </tbody>
                </table>
          </div>
      </div>
</div>
{% endblock %}

</body>
</html>