<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DienstVirtOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">dieVirtOpcUaID</th>
      <th scope="col">name</th>
      <th scope="col">Virtueller Server</th>

      <th scope="col">serviceBeschreibung</th>

    </tr>
  </thead>
  <tbody>
    {% for dienstVirtOpcUaServer in object_list %}
   <tr>

            <td>{{ dienstVirtOpcUaServer.dieVirtOpcUaID}}</td>
            <td>{{ dienstVirtOpcUaServer.name}}</td>
            <td>{{ dienstVirtOpcUaServer.virtserver.servername}}</td>

            <td>{{ dienstVirtOpcUaServer.serviceBeschreibung}}</td>


    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>