<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DieIntProdukt</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">dieIntProduktID </th>
      <th scope="col">name </th>
      <th scope="col">servicenummer</th>
      <th scope="col">anzahlService</th>

    </tr>
  </thead>
  <tbody>
    {% for dieIntProdukt in object_list %}
   <tr>

            <td>{{ dieIntProdukt.dieIntProduktID }}</td>
            <td>{{ dieIntProdukt.name}}</td>
            <td>{{ dieIntProdukt.servicenummer}}</td>
            <td>{{ dieIntProdukt.anzahlService}}</td>


    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>