<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IntProdukt</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Produktummer</th>
      <th scope="col">Produktname</th>
      <th scope="col">AnzahlService</th>

  </thead>
  <tbody>
    {% for intProdukt in object_list %}
   <tr>

            <td>{{ intProdukt.intProduktnummer}}</td>
            <td>{{ intProdukt.produktName}}</td>
            <td>{{ intProdukt.worktime}}</td>

    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}


</body>
</html>