<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunden</title>
</head>
<body>
{% extends 'main/includes/header.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">kundennummer</th>
      <th scope="col">name</th>
      <th scope="col">Telefonnummer</th>
      <th scope="col">ort</th>
      <th scope="col">plz</th>
      <th scope="col">strasse</th>
      <th scope="col">hausnummer</th>

    </tr>
  </thead>
  <tbody>
    {% for kunden in object_list %}
   <tr>

            <td>{{ kunden.kundennummer}}</td>
            <td>{{ kunden.name}}</td>
            <td>{{ kunden.Telefonnummer}}</td>
            <td>{{ kunden.ort}}</td>
            <td>{{ kunden.plz}}</td>
            <td>{{ kunden.strasse}}</td>
            <td>{{ kunden.hausnummer}}</td>


    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>