<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProduktionsAuftrag</title>
</head>
<body id="page-top">
{% extends 'main/includes/header2.html' %}

{% block content %}
<div class="card shadow mb-4">
      <div class="card-header py-3">

      </div>
      <div class="card-body">
          <div class="table-responsive">



                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Auftragsnummer</th>
                      <th scope="col">Kundennummer</th>
                      <th scope="col">Produkt</th>
                      <th scope="col">AktuellerSchritt</th>
                      <th scope="col">Auftragsstatus</th>
                      <th scope="col">Auftragseingang</th>
                      <th scope="col">Fortschritt</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for produktionsAuftrag in object_list %}
                   <tr>

                            <td>{{ produktionsAuftrag.auftragsnummer}}</td>
                            <td>{{ produktionsAuftrag.kunde}}</td>
                            <td>{{ produktionsAuftrag.produkt}}</td>
                            <td>{{ produktionsAuftrag.aktuellerSchritt}}</td>
                            <td>{{ produktionsAuftrag.auftragsstatus}}</td>
                            <td>{{ produktionsAuftrag.auftragseingang}}</td>
                            <td>{{ produktionsAuftrag.fortschritt}}</td>



                    </tr>

                    {% endfor %}

                  </tbody>
                </table>

          </div>
      </div>
</div>
{% endblock %}

</body>
</html>