<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProduktionsAuftrag</title>
</head>
<body id="page-top">
{% extends 'main/includes/header2.html' %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">auftragsnummer</th>
      <th scope="col">kundennummer</th>
      <th scope="col">intProdukt</th>
      <th scope="col">aktuellerSchritt</th>
      <th scope="col">auftragsstatus</th>
      <th scope="col">letzteAktuallisierung</th>
      <th scope="col">Fortschritt</th>
    </tr>
  </thead>
  <tbody>
    {% for produktionsAuftrag in object_list %}
   <tr>

            <td>{{ produktionsAuftrag.auftragsnummer}}</td>
            <td>{{ produktionsAuftrag.kundennummer}}</td>
            <td>{{ produktionsAuftrag.intProdukt}}</td>
            <td>{{ produktionsAuftrag.aktuellerSchritt}}</td>
            <td>{{ produktionsAuftrag.auftragsstatus}}</td>
            <td>{{ produktionsAuftrag.letzteAktuallisierung}}</td>
            <td>{{ produktionsAuftrag.fortschritt}}</td>



    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>