<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header2.html' %}

{% block content %}
<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Serverübersicht</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">RegServerID</th>
                      <th scope="col">Servername</th>
                      <th scope="col">Ort</th>
                      <th scope="col">Portnummer</th>
                      <th scope="col">Serverstatus</th>
                      <th scope="col">RegestrierungsZeit</th>
                        <th scope="col">Servertyp</th>
                      <th scope="col">Aktiv</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for regOpcUaServer in object_list %}
                   <tr>

                            <td>{{ regOpcUaServer.regServerID}}</td>
                            <td>{{ regOpcUaServer.ort}}</td>
                            <td>{{ regOpcUaServer.servername}}</td>
                            <td>{{ regOpcUaServer.portnummer}}</td>
                            <td>{{ regOpcUaServer.serverstatus}}</td>
                            <td>{{ regOpcUaServer.regestrierungsZeit}}</td>
                            <td>{{ regOpcUaServer.servertyp}}</td>
                            <td>{{ regOpcUaServer.aktiv}}</td>



                    </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
       </div>
      </div>

</div>
{% endblock %}

</body>
</html>