<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header.html' %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">regServerID</th>
      <th scope="col">servername</th>
      <th scope="col">ort</th>
      <th scope="col">portnummer</th>
      <th scope="col">registrieungsstatus</th>
      <th scope="col">regestrierungsZeit</th>

    </tr>
  </thead>
  <tbody>
    {% for regOpcUaServer in object_list %}
   <tr>

            <td>{{ regOpcUaServer.regServerID}}</td>
            <td>{{ regOpcUaServer.ort}}</td>
            <td>{{ regOpcUaServer.servername}}</td>
            <td>{{ regOpcUaServer.portnummer}}</td>
            <td>{{ regOpcUaServer.registrieungsstatus}}</td>
            <td>{{ regOpcUaServer.ort}}</td>



    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>