<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header2.html' %}

{% block content %}

  <div class="card shadow mb-4">
      <div class="card-header py-3">

      </div>
      <div class="card-body">
          <div class="table-responsive">


            <table class="table">
              <thead>
                <tr>
                  <th scope="col">regServerID</th>
                  <th scope="col">servername</th>
                  <th scope="col">ort</th>
                  <th scope="col">portnummer</th>
                  <th scope="col">serverstatus</th>
                  <th scope="col">regestrierungsZeit</th>
                    <th scope="col">servertyp</th>
                  <th scope="col">autoStart</th>

                </tr>
              </thead>
              <tbody>
                {% for regOpcUaServer in object_list %}
               <tr>

                        <td>{{ regOpcUaServer.regServerID}}</td>
                        <td>{{ regOpcUaServer.ort}}</td>
                        <td>{{ regOpcUaServer.servername}}</td>
                        <td>{{ regOpcUaServer.portnummer}}</td>
                        <td>{{ regOpcUaServer.serverstatus}}</td>
                        <td>{{ regOpcUaServer.regestrierungsZeit}}</td>
                        <td>{{ regOpcUaServer.servertyp}}</td>
                        <td>{{ regOpcUaServer.autoStart}}</td>



                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
      </div>
</div>
{% endblock %}

</body>
</html>