<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VirtuelleOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header.html' %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">virtuellServerID</th>
      <th scope="col">servername</th>
      <th scope="col">ort</th>
      <th scope="col">portnummer</th>
      <th scope="col">serverstatus</th>
      <th scope="col">autoStart</th>
      <th scope="col">anzahlOffeneAuftraege</th>
      <th scope="col">anzahlAbgesAuftraege</th>
        <th scope="col">aktuelleAuftraegsNr</th>
      <th scope="col">startZeit</th>
    </tr>
  </thead>
  <tbody>
    {% for virtuelleOpcUaServer in object_list %}
   <tr>

            <td>{{ virtuelleOpcUaServer.virtuellServerID}}</td>
            <td>{{ virtuelleOpcUaServer.servername}}</td>
            <td>{{ virtuelleOpcUaServer.ort}}</td>
            <td>{{ virtuelleOpcUaServer.portnummer}}</td>
            <td>{{ virtuelleOpcUaServer.serverstatus}}</td>
            <td>{{ virtuelleOpcUaServer.autoStart}}</td>
            <td>{{ virtuelleOpcUaServer.anzahlOffeneAuftraege}}</td>
            <td>{{ virtuelleOpcUaServer.aktuelleAuftraegsNr}}</td>
            <td>{{ virtuelleOpcUaServer.anzahlAbgesAuftraege}}</td>
            <td>{{ virtuelleOpcUaServer.startZeit}}</td>
            <td>{{ virtuelleOpcUaServer.aktuelleAuftraegsNr}}</td>

    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock %}

</body>
</html>