<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VirtuelleOpcUaServer</title>
</head>
<body>
{% extends 'main/includes/header2.html' %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Serverdaten</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">



              <thead>
                <tr>
                  <th scope="col">Mkey</th>
                  <th scope="col">Servername</th>
                  <th scope="col">IP</th>
                  <th scope="col">Status</th>
                  <th scope="col">Dockerid</th>
                  <th scope="col">PID</th>
                  <th scope="col">Temperature</th>
                  <th scope="col">Pressure</th>
                   <th scope="col">Zeitstempel</th>


                </tr>
              </thead>
              <tbody>
                {% for serverdata in object_list %}
               <tr>

                        <td>{{ serverdata.mkey}}</td>
                        <td>{{ serverdata.servername}}</td>
                        <td>{{ serverdata.ip}}</td>
                        <td>{{ serverdata.status}}</td>
                        <td>{{ serverdata.dockerid}}</td>
                        <td>{{ serverdata.pid}}</td>
                        <td>{{ serverdata.temp}}</td>
                        <td>{{ serverdata.press}}</td>
                        <td>{{ serverdata.time}}</td>

                </tr>

                {% endfor %}

              </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}

</body>
</html>