<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% extends 'main/includes/header.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-outline-info orange darken-4 " type="submit">Sign Up</button>
    </form>

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.

{% endblock %}
</body>
</html>